/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.carousel-item img{
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.overlay{
    filter: brightness(50%);
}

.carousel-caption{
    margin-bottom: 100px;
}

.card-text-price{
    color:#289BDE
}

.join-container{
    height: 250px;
}

.btn, .join-container{
    background-color: #289BDE;
    color: white;
}

 .modal-btn{
    border: 1px solid white; 
    transition: all .7s;
} 
 .modal-btn:hover{
    background-color: white;
    color: #289BDE;
} 

.companies{
    background-color: #F8F9F9;
    color: #289BDE;
}

footer{
    height: 250px;
}

.social-icon a span{
    transition: all .7s;
}

.social-icon a span:hover{
    color: #289BDE;
    background-color: white;
}

/* For small device */

@media only screen and (max-width: 576px) {
    .card-body {
      padding: 20px 0;
    }
  }


