/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* logo-color:#4A4A4A */

.carousel-item img{
    height: 500px;
    object-fit: cover;
    object-position: top;
    
}



.overlay{
    filter: brightness(50%);
}

.carousel-caption{
    margin-bottom: 100px;
}


.join-container{
    height: 200px;
}

footer{
    height: 250px;
}

